@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


.section-title {
  text-decoration: aqua;
  margin-bottom: 20px;
}

.section-title h1 {
  font-weight: 900;
  color: #002855;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif !important;
}

.section-title div {
  background: #0466C8;
  width: 50px;
  height: 5px;
  border-radius: 100px;
}